
{% load static %}
{% load friendly_loader %}
{% friendly_load i18n avatar_tags relationship_tags activity_tags %}
{% load pagination_tags %}

<link href="/static/geonode/css/base.css" rel="stylesheet" />
<link href='/static/geonode/font/lato_font.css' rel='stylesheet' type='text/css' />
<link href="/static/geonode/css/ext-compatibility.css" rel="stylesheet" />
<link href="/static/lib/css/assets.min.css" rel="stylesheet"/>
      
{% block body %}
  <div class="row">
  <div class="span12">
    <div class="tab-content span12 paginate paginate-auto">
      {% if object_list|length > 0 %}
      <div class="tab-pane active list paginate-contents" id="all">
        {% if object_list|length > 0 %}
          {% autopaginate object_list 5 %}
            {% for obj in object_list %}
            <article>
              <div class="content">
                  <div class="item-header">
                  {% if obj.class_name = 'Map' %}
                  <img class="thumb" src="/uploaded/{{ obj.thumbnail.thumb_file }}" />
                  <h3><i class="icon-map-marker"></i>
                  {% endif %}
                  {% if obj.class_name = 'Layer' %}
                  <img class="thumb" src="/uploaded/{{ obj.thumbnail.thumb_file }}" />
                  <h3><i class="icon-unchecked icon-rotate-45"></i>
                  {% endif %}
                  {% if obj.class_name = 'Document' %}
                  <div class="icon-placeholder"><i class="icon-file-text-alt"></i></div>
                    <h3><i class="icon-file-text-alt"></i>
                    {% endif %}
                      <a target="_blank" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                    </h3>
                </div>
              <div class="details">
                <div class="meta">
                  <p class="resources-abstract">{{ obj.abstract }}</p>
                  <p class="sharing-date">{% trans "Shared on" %} {{ obj.date|date:"d b Y" }}</p>
                </div>
              </div>
            </article>
            {% endfor %}
          {% endif %}
        </div>
        {% if object_list|length > 0 %}
          {% paginate %}
        {% endif %}
      </div>
      {% else %}
      </div>
      <article>
        <p>{% trans "No contents found." %}</p>
      </article>
    {% endif %}
    </div>
	<script type="text/javascript" src="/jsi18n/"></script>
        <script type="text/javascript" src="/lang.js"></script>
        <style type="text/css">
           .select2-drop{
           color: black;
           }
           body {
            padding-top: 01px;
           }
        </style>
{% endblock %}

